@charset "utf-8";
@media screen and (max-width: 1920px) {
    .headerSearch .input-group-btn .btn {
        line-height: 17px;
    }
}
@media screen and (max-width: 1400px)
{
    .sticky .logo img {
        width: 47%;
    }
    .headerBtns .dropdown-menu {
        width: 86%;
        max-width: 86%;
        min-width: 86%;
    }
}
@media screen and (max-width: 1280px) {
    .dropdownItems ul li {
       width: 11%;
    }
}
@media screen and (max-width: 1150px) {
    .footerLinks h3 {
        font-size: 14px;
    }
    .footerLinks ul li a {
        font-size: 10px;
    }
    .nav > li > a {
        padding: 10px 10px;
    }
    .headerSearch input,
    .headerSearch .input-group-btn .btn {
        margin-top: 5px;
    }
    .btnMain {
        margin-top: 5px;
    }
    .allContent {
        margin-top: 160px;
    }
    .sticky .logo img {
        width: 50%;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }
    .productInnerImage h3 {
        font-size: 20px;
    }
    .productInnerDetails .btnCall {
        font-size: 9px;
    }

    .productInnerDetails .venderInfo h4 {
        font-size: 10px;
    }
    .productInnerDetails .venderInfo h5 {
        font-size: 11px;
    }
    .productInnerDetails .venderInfo h5 span {
        font-size: 9px;
    }

    .productInnerDetails .venderInfo {
        margin-bottom: 5px;
    }

    .productInnerDetails {
        padding: 14px 10px;
    }
    .panel-body ul li {
        font-size: 16px;
        line-height: 24px;
    }
    .navbar-nav > li > .dropdown-menu > li > a {
        padding: 3px 10px;
        font-size: 11px;
    }
    .addproduct li {
        font-size: 10px;
    }
    .addproduct {
        top: 48px;
    }
    .headerBtns .dropdown-menu {
        width: 81%;
        max-width: 81%;
        min-width: 81%;
    }
}
@media screen and (max-width: 1005px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
    }
    .navbar-default {
        padding: 10px 0;
    }
    .headerSearch input {
        padding: 7px 20px;
    }

    .headerSearch .input-group-btn .btn {
        padding: 9px 12px;
    }
    .btnMain {
        padding: 9px 12px;
    }
    .allContent {
        margin-top: 140px;
    }
    .productImage img {
        width: 100%;
    }
    .productDesc h4 {
        font-size: 22px;
    }
    .featured {
        padding: 30px 0;
    }
    .addproduct {
        top: 43px;
    }
    .sticky .addproduct {
        top: 43px;
    }
    .dropdownItems ul li {
        width: 15%;
     }
}
@media screen and (max-width: 960px) {
    .nav > li > a {
        padding: 10px 8px;
    }
    .header .btnMain {
        font-size: 10px;
    }
    .boxHeader h2 {
        font-size: 24px;
    }
    .information p {
        font-size: 14px;
    }
    .productDesc h3 {
        font-size: 14px;
    }
    .productDesc h4 {
        font-size: 20px;
    }
    .headerBtns .dropdown-menu {
        width: 78%;
        max-width: 78%;
        min-width: 78%;
    }
}
@media screen and (max-width: 850px) {
    .logo img {
        width: 100%;
    }
    .sticky .logo img {
        width: 100%;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
        padding: 4px 8px;
    }
    .navbar-nav > li > .dropdown-menu > li > a {
        padding: 3px 10px;
        font-size: 11px;
    }
    .boxHeader h2 {
        font-size: 20px;
    }
    .information {
        padding: 50px 0;
    }
    .works h3 {
        font-size: 30px;
    }
    .img2 {
        right: -60px;
    }
    .headerBtns .dropdown-menu {
        width: 76%;
        max-width: 76%;
        min-width: 76%;
    }
    .headerBtns .dropdown-menu > li > a {
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .topLeft {
        text-align: center;
    }
    .topRight {
        text-align: center;
        margin-top: 5px;
    }
    .logo {
        text-align: center;
    }
    /*
	.logo img {
    width: 40%;
}
	.sticky .logo img {
    width: 30%;
}
*/
    .header {
        padding: 10px 0;
    }
    .sticky .header {
        padding: 10px 0;
    }
    .navbar-header {
        display: inline-block;
    }
    .headerSearch input,
    .headerSearch .input-group-btn .btn {
        margin-top: 0;
    }
    .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
    }
    .headerSearch input {
        padding: 8px 20px;
    }
    .headerSearch .input-group-btn .btn {
        padding: 10px 12px;
    }
    .allContent {
        margin-top: 170px;
    }
    .sticky .headerSearch input,
    .sticky .headerSearch .input-group-btn .btn {
        margin-top: 0;
    }
    .headerSearch .input-group-btn .btn {
        padding: 8px 12px;
    }
    .headerSearch input {
        padding: 6px 20px;
    }
    .navbar-toggle {
        padding: 8px 10px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-nav > li {
        display: block;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
        padding: 9px 8px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav {
        margin: 0 auto;
        width: 30%;
    }
    .boxBody .col-xs-12 {
        width: 50%;
    }
    .vendorNameCenter {
        text-align: left;
    }
    .addproduct {
        top: 35px;
        text-align: left;
    }
    .dropdownItems ul li {
        width: 20%;
    }
    .headerBtns .dropdown-menu {
        width: 85%;
        max-width: 85%;
        min-width: 85%;
    }
    
}
@media screen and (max-width: 650px) {
    .img1 img,
    .img2 img {
        width: 50%;
    }
    .img2 {
        right: -150px;
    }

    .footerLinks h3 {
        width: 90%;
    }
    .footerLinks ul li a {
        font-size: 12px;
    }
    .first_table {
        width: 100%;
    }
    .first_table td
    {
        width: 40%;
        border-bottom: #ccc solid 1px;
    }
    .boxHeader .panel-title {
        font-size: 21px;
    }
    .dropdownItems ul li {
        width: 24%;
    }
    .headerBtns .dropdown-menu {
        width: 82%;
        max-width: 82%;
        min-width: 82%;
    }
}
@media screen and (max-width: 550px) {
    .works h3 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 30px;
    }
    .viewMore a {
        font-size: 14px;
    }
    .dropdownItems ul li {
        width: 30%;
    }
    .headerBtns .dropdown-menu {
        width: 78%;
        max-width: 78%;
        min-width: 78%;
    }
    #featuredDeals img {
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 450px) {  
    .topRight ul li {
        padding-left: 1px;
        padding-right: 1px;
    }
    .logo {
        width: 100%;
        margin-bottom: 10px;
    }
    .logo img {
        width: 70%;
    }
    .headerBtns {
        width: 50%;
    }
    .sticky .logo img {
        width: 60%;
    }
    .allContent {
        margin-top: 230px;
    }
    .information p {
        font-size: 12px;
    }
    footer p {
        font-size: 12px;
    }
    .img1 {
        left: -25px;
    }
    .img2 {
        right: -190px;
    }
    .btnMain {
        padding: 5px 12px;
    }
    .dropdownItems ul li {
        width: 32%;
    }
    .headerBtns .dropdown-menu {
        width: 83%;
        max-width: 83%;
        min-width: 83%;
    }
    .loadMoreBtn a {
        width: 100%;
        padding: 5px 0;
    }
    
    
}
@media screen and (max-width: 360px) {
    .topRight ul li a {
        font-size: 12px;
        margin: 0 3px;
    }
    .topLeft p {
        font-size: 12px;
    }
    .topBar {
        padding: 6px 0;
    }
    .allContent {
        margin-top: 225px;
    }
    .boxBody .col-xs-12 {
        width: 100%;
    }
    .dropdownItems ul li {
        width: 42%;
    }
    .headerBtns .dropdown-menu {
        width: 81%;
        max-width: 81%;
        min-width: 81%;
    }
}
