@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}
.topBar {
    padding: 10px 0;
    background: #35bfae;
    color: #fff;
}
.topLeft p {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.topRight {
    text-align: right;
}
.topRight ul {
    margin-bottom: 0;
}
.topRight ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
.topRight ul li {
    position: relative;
}
.topRight ul li span {
    position: absolute;
    top: -4px;
    right: 4px;
    background: #fff;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    color: #c21818;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}
.topRight ul li:last-child a {
    margin-right: 0;
}

.topRight ul li:last-child {
    padding-right: 0;
}
.header {
    padding: 10px 0;
    background: #fff;
}
.navbar-default {
    height: auto;
    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 20px 0;
    background: #144d88;
    text-align: center;
    min-height: auto;
    transition-duration: 0.3s;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: auto;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: #fff solid 1px;
    transition-duration: 0.3s;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: #144d88 solid 1px;
    transition-duration: 0.3s;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    border-bottom: #fff solid 1px;
    transition-duration: 0.3s;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-nav {
    float: none;
    margin: 0;
}
.banner {
    width: 100%;
    position: relative;
    margin: 0;
    z-index: 1;

    overflow: hidden;
}
.img1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.img2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.allContent {
    margin-top: 180px;
}
.featured {
    padding: 40px 0 0;
    background: #fff;
}
.productSlider .owl-item {
    opacity: 0.5;
}
.owl-item.center {
    opacity: 1;
}
.headerSearch input {
    padding: 10px 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 10px;
    border-radius: 0;
    border-right: 0;
}
.headerSearch input:focus {
    box-shadow: none;
    border: 1px solid #ccc;
    border-right: 0;
}
.headerSearch .input-group-btn .btn {
    padding: 12px 12px;
    line-height: 15px;
    border-radius: 0;
    margin-top: 10px;
    background: none;
    background-color: #fff;
    outline: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-left: 0;
}
.sticky .header {
    padding: 5px 0 10px;
}
.logo img {
    width: 45%;
    transition-duration: 0.3s;
}
.sticky .logo img {
    width: 40%;
    transition-duration: 0.3s;
}
.sticky .navbar-default {
    padding: 8px 0;
    transition-duration: 0.3s;
}
.sticky .headerSearch input {
    margin-top: 5px;
}
.sticky .headerSearch .input-group-btn .btn {
    margin-top: 5px;
}
.btnMain {
    background: #1e9fbc;
    border: #1e9fbc solid 1px;
    width: 100%;
    margin-top: 10px;
    padding: 12px 12px;
    border-radius: 0;
    transition-duration: 0.3s;
    font-size: 12px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}
.btnMain:hover {
    background: #167c93;
    transition-duration: 0.3s;
}
.btnMain i {
    margin-right: 5px;
}
.sticky .btnMain {
    margin-top: 5px;
}
.works {
    padding: 60px 0;
    background: url(../images/web-images/easy_section.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: #fff;
}
.works h3 {
    font-size: 40px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.howContent img {
    width: 100%;
}
.information {
    padding: 70px 0;
    background: #144d88;
}
.information p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
}
.footer {
    padding: 40px 0;
    background: #2d2d2d;
}
.footerLinks h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    background: #404040;
    padding: 4px 9px;
    box-sizing: border-box;
    position: relative;
}
.footerLinks h3::after {
    content: "";
    width: 19px;
    height: 100%;
    background-size: 100% 100%;
    background: url(../images/web-images/footerAf.png) no-repeat;
    position: absolute;
    right: -19px;
    top: 0;
}
.footerLinks ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
}
.footerLinks ul li a i {
    margin-right: 10px;
}
.socialIcons li a {
    font-size: 18px !important;
}
footer {
    width: 100%;
    background: #35bfae;
    padding: 10px 0;
    text-align: center;
}
footer p {
    margin: 0;
    color: #fff;
}
footer p a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
footer p a:hover {
    color: #fff;
    text-decoration: none;
}
/*//Never//*/
.boxHeader {
    background: #154d88 !important;
    padding: 8px 10px !important;
    border-left: #00c1b0 solid 30px !important;
}
.boxHeader h2 {
    margin: 0;
    font-size: 24px;
    /*	font-size: 30px;*/
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.productImage {
    /*	padding: 30px 0;*/
    text-align: center;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(20, 77, 136, 0.7);
    transition-duration: 0.3s;
}
.productImage:hover .overlay {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.3s;
}
.overlay #wishIcon {
    width: auto !important;
    float: right;
    clear: both;
    margin-right: 10px;
    margin-top: 10px;
}
.overlay i {
    font-size: 22px;
    width: auto !important;
    float: right;
    clear: both;
    margin-right: 10px;
    margin-top: 10px;
    color: #fff;
}
.productMain {
    border-left: #dedede solid 1px;
    border-bottom: #dedede solid 1px;
    border-top: #dedede solid 1px;
    margin-bottom: 10px;
}
.productMain:last-child {
    border-right: #dedede solid 1px;
}
.btnDetails {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
    background: #35bfae;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    color: #fff;
    transition-duration: 0.3s;
    margin-top: 100px;
}
.btnDetails:hover {
    background: #2b9f91;
    color: #fff;
    transition-duration: 0.3s;
}
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}
.productDesc {
    text-align: center;
}
.productDesc h3 {
    color: #144d88;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.productDesc h5 {
    color: #575757;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 0;
    margin-bottom: 5px;
}
.productDesc h4 {
    color: #144d88;
    font-size: 26px;
    line-height: 34px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.productDesc h4 span {
    font-size: 14px;
    font-weight: 400;
}
.owl-carousel {
    position: relative;
}

.boxBody .owl-next {
    position: absolute;
    right: 0px;
    top: 140px;
    font-size: 32px;
}
.boxBody .owl-prev {
    position: absolute;
    left: 0px;
    top: 140px;
    font-size: 32px;
}
.noPadd {
    padding: 0;
}
.viewMore a {
    display: block;
    color: #144d88;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    float: right;
    margin-top: 15px;
}
.featured .btnMain {
    margin-top: 80px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    background: #144d88;
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu {
    min-width: 100%;
    width: 100%;
}
.open {
    transition-duration: 0.3s;
}
.featured2 {
    padding: 30px 0;
}
.boxMain {
    position: relative;
}
.dropDownSpecsMenu {
    max-width: 300px;
    width: 100%;
    position: absolute;
    right: 1px;
    background: #fff;
    padding: 15px 20px;
    box-sizing: border-box;
    box-shadow: 1px 1.732px 8px 0px rgba(0, 0, 0, 0.173);
    z-index: 1;
    height: 500px;
    overflow-y: scroll;
}

input[type="checkbox"]:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: 0;
    position: relative;
    background-image: url(../images/web-images/unchecked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: inline-block;
    visibility: visible;
    background-color: #fff;
    cursor: pointer;
}

input[type="checkbox"]:checked:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: 0;
    position: relative;
    background-image: url(../images/web-images/checked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: inline-block;
    visibility: visible;
    background-color: #fff;
}
.dropdownItems {
    margin: 15px 0;
}
.dropdownItems h3 {
    font-size: 20px;
    color: #144d88;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    margin: 0;
    margin-bottom: 15px;
}
.dropdownItems ul li input {
    margin: 0;
    margin-right: 8px;
}
.dropdownItems ul li label {
    font-size: 16px;
    line-height: 25px;
    color: #474747;
    /* font-family: "Raleway", sans-serif; */
    font-weight: 400;
}
.fa-heart {
    color: #1e9fbc;
    font-size: 16px;
}
.productInnerMain {
    padding: 70px 0 0;
}
.productInnerImage {
    padding: 0 15px 20px;
    box-sizing: border-box;
    border: #cecece solid 1px;
}
.productInnerImage h3 {
    font-size: 26px;
    color: #144d88;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.productInnerImage img {
    width: 100%;
}
.productSmall ul li {
    float: left;
    width: 25%;
}
.productSmall img {
    width: 90%;
}
.panel-title > a {
    text-decoration: none;
}
.panel-title > a .fa {
    float: right;
}
.boxHeader .panel-title {
    font-size: 24px;
}
.panel-default > .panel-heading {
    border-color: transparent;
    border-radius: 0;
}
.panel-group .panel {
    border-radius: 0;
    border: 0;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    background: transparent;
    border: none;
    border-color: transparent;
}
.panel {
    box-shadow: none;
}
.panel-body ul {
    padding-left: 10px;
}
.panel-body ul li {
    font-size: 22px;
    line-height: 27px;
    color: #5f5f5f;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.productInnerThumb {
    margin-bottom: 50px;
}
.headerBtns .dropdown-menu {
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    left: 15px;
    margin: 0 auto;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    background: #144d88;
}
.headerBtns .dropdown-menu > li > a {
    color: #fff;
}
.headerBtns .dropdown-menu > li > a:hover {
    color: #000;
}
.lastPadding {
    padding-bottom: 40px;
}
.innerContent {
    margin-top: 230px;
}
.owl-prev,
.owl-next {
    opacity: 0.5;
    transition-duration: 0.3s;
}
.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
    opacity: 1;
    transition-duration: 0.3s;
}
.productInnerDetails {
    padding: 30px 20px;
    box-sizing: border-box;
    border: #cecece solid 1px;
}
.venderInfo {
    padding: 12px 20px;
    box-sizing: border-box;
    border: #cecece solid 1px;
    margin-bottom: 15px;
}
.venderInfo:last-child {
    margin-bottom: 0;
}
.venderInfo h5 {
    font-size: 14px;
    color: #144d88;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
}
.venderInfo h5 span {
    display: block;
    font-size: 12px;
    color: #434343;
}
.venderInfo h4 {
    font-size: 14px;
    color: #434343;
    font-weight: 400;
}
.venderInfo h4 span {
    display: block;
    color: #144d88;
    font-weight: 700;
    margin-top: 5px;
    font-size: 18px;
}
.wishlistBtn {
    background: #e6e6e6;
    border: 0;
    padding: 8px 10px;
    box-sizing: border-box;
    transition-duration: 0.3s;
    margin-right: 5px;
}
.wishlistBtn:hover {
    background: #ccc;
    transition-duration: 0.3s;
}
.wishlistBtn i {
    color: #144d88;
}
.btnCall {
    border: #1e9fbc solid 2px;
    color: #1e9fbc;
    font-weight: 700;
    padding: 7px 10px;
    transition-duration: 0.3s;
    line-height: normal;
    /*	width: 100%;*/
}
.btnCall:hover {
    background: #1e9fbc;
    color: #fff;
    transition-duration: 0.3s;
}
.paddTop {
    padding-top: 10px;
}
.boxHeader select {
    background: #144d88;
    border-radius: 0;
    color: #fff;
    height: auto;
    padding: 3px 10px;
}
.ui-slider-horizontal .ui-slider-range {
    background: #1e9fbc !important;
}
.filterBody {
    padding: 40px 0;
}
.filterBody label {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
.noUi-connect {
    background: #00a0b9;
}
.noUi-target {
    margin-right: 20px;
    margin-top: 8px;
}
.filterBody p {
    margin-top: 20px;
    color: #00a0b9;
    font-weight: 700;
}
.filterBody button {
    margin-top: 25px;
    /*    padding: 7px 0;*/
    padding: 12px 0;
}
.vendorNameCenter {
    text-align: center;
}
.scrollItems {
    height: 500px;
    overflow-y: scroll;
    margin-top: 10px;
}
.faqInner .faqHeader {
    margin-bottom: 20px;
}
.faqInner .panel-title {
    text-transform: inherit;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.faqInner p {
    font-size: 16px;
    line-height: 28px;
    font-family: "Roboto", sans-serif;
}
.faqInner ul li {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.faqInner .boxHeader {
    padding: 15px 10px !important;
}
.aboutInner {
    padding: 50px 0 100px !important;
}
.boxBody small {
    margin: 10px 0;
    display: block;
    color: #0000ff;
}
.contactLeft h4,
.contactRight h4 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    margin-bottom: 30px;
}

.contactLeft i {
    font-size: 26px;
    margin-top: 5px;
}
.contactLeft address span {
    display: block;
}
.contactRight #captchaVal {
    border: #000 solid 1px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #000;
    font-weight: 700;
    background: #fff;
}
.form-control {
    padding: 10px 20px;
    font-size: 16px;
    color: #555555;
    height: auto;
    border-radius: 0;
}
.contactRight button {
    font-size: 16px;
}

.modal-title {
    font-size: 24px;
    color: #144d88;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-header .close {
    margin-top: -2px;
    font-size: 38px;
    color: #144d88;
    opacity: 1;
}
.modal-content {
    background: #ececec;
}
.nav-tabs {
    border: 0;
    margin-bottom: 20px;
}
.nav-tabs > li {
    float: none;
    margin-bottom: 0;
    display: inline-block;
    text-align: left;
    margin-right: 50px;
}
.nav-tabs > li:last-child {
    margin-right: 0;
}
.nav-tabs > li a {
    font-size: 14px;
    font-weight: 700;
    color: #4f4f4f;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #4f4f4f;
    cursor: default;
    background-color: transparent;
    border: 0;
    border-bottom: #1e9fbc solid 2px;
}
.customModal {
    width: 440px;
}
.modal-header {
    padding: 15px 45px 0;
    border-bottom: 0;
}
.modal-body {
    position: relative;
    padding: 15px 45px;
}
label {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #4f4f4f;
}
.forgotPass {
    text-align: right;
    font-weight: 700;
}
.input-group-addon {
    border-radius: 0;
}
.ui-autocomplete {
    z-index: 1111 !important;
}
.loadMoreBtn {
    margin-bottom: 40px;
}
.headerSearch {
    position: relative;
}
.addproduct {
    position: absolute;
    top: 53px;
    list-style: none;
    z-index: 111;
    background: #fff;
    width: 100%;
    border: #ccc solid 1px;
    padding: 10px 0;
}
.addproduct li {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}
.sticky .addproduct {
    top: 48px;
}
.addproduct li:hover {
    background: #f7f7f7;
}
.alloffere h3 {
    margin: 0;
    font-size: 26px;
    color: #144d88;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.topRight ul li form {
    display: inline-block;
}
.topRight ul li form button {
    background: none;
    outline: 0;
    padding: 0 10px;
}
.topRight ul li form button:hover {
    color: #fff;
}
.topRight ul li form button:focus,
.topRight ul li form button:active:focus {
    outline: 0;
    box-shadow: none;
    color: #fff;
}
.brandInformation {
    padding: 30px 0;
}
.brandLogo img {
    width: 100%;
}
.brandDesc h3 {
    font-size: 18px;
}
.brandDesc h2 {
    font-size: 28px;
    font-weight: 900;
}
.callModalStyle ul {
    padding-left: 15px;
    margin-top: 10px;
}
.callModalStyle h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}
.callModalStyle h3 {
    color: #9c0000;
}
.dashboardItems {
    margin-top: 30px;
}
.tabsLeft .nav-tabs li {
    display: block;
    background: #fff;
    border: #ccc solid 1px;
    width: 100%;
}
.tabsLeft .nav-tabs li a {
    font-weight: 400;
    padding-left: 20px;
    letter-spacing: 0;
}
.tabsLeft .nav-tabs > li.active > a,
.tabsLeft .nav-tabs > li.active > a:hover,
.tabsLeft .nav-tabs > li.active > a:focus {
    color: #144d88;
    cursor: default;
    background-color: transparent;
    border: 0;
    border-bottom: none;
    font-weight: 700;
}
.tab-content h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #154d88;
}
.tab-content .table {
    border: #f6f6f6 solid 1px;
}
.tab-content .table thead th {
    background: #35bfae;
    color: #fff;
    border: 0;
    font-weight: 400;
}
.tab-content .table tbody tr:nth-child(even) {
    background: #f8f8f8;
}
.tab-content .table tbody td {
    border: 0;
}
.text-danger {
    color: #a94442 !important;
}
.select2 {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: 44px !important;
    padding: 8px 10px !important;
    border-radius: 0 !important;
    border: 1px solid #ccc !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #555555 !important;
    line-height: 28px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 44px !important;
}
.btnLogout {
    color: #fff;
    margin-top: 0 !important;
}
.btnLogout:hover {
    color: #fff;
}
.btnUpdate {
    margin-top: 32px !important;
}
/* New CSS */
.descData h4
{
    font-size: 15px;
    color: #144d88;
    font-weight: 700;
    margin: 0;
}
.descData h4 span
{
    margin-left: 15px;
    font-weight: 400;
    color: #000;
}
.descData p
{
    font-size: 14px;
    color: #144d88;
    margin: 0;
}
.panel-body .btnMain{
       background: #154d88;
        border: #154d88 solid 1px;
        color: #fff;
        margin-bottom: 10px;
    }
.panel-body .btnMain:hover
{
    background: #154d88;
    border: #154d88 solid 1px;
    color: #fff;
}
.first_table {
    float: left;
    margin: 0 auto;
    width: 33%;
    margin-left: .2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
   
    text-align: left;
}
.first_table td {
    padding: 7px;
    color: #000;
}
.first_table td strong{
    color: #144d88;
}
.filterBody button {
    margin-top: 32px;
}
.panel-group {
    margin-bottom: 5px;
}
.logo img {
    width: 55%;
}
.topRight i
{
    color: #fff;
}
.navbar-default {
    padding: 8px 0;
}
.allContent {
    margin-top: 150px;
}
.headerBtns .dropdown-menu > li > a {
    text-transform: uppercase;
}
.headerBtns .dropdown-menu {
    width: 88%;
    max-width: 88%;
    min-width: 88%;
}
.productDesc h3 {
    text-transform: uppercase;
}
.aboutInner {
    text-align: justify;
}
.navbar-default {
    padding: 8px 0 0;
}
.navbar-default .navbar-nav > li > a {
    padding-bottom: 11px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    background: #144d88;
    width: auto;
}
.navbar-nav > li > .dropdown-menu
{
    border-top: #fff solid 1px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
     border-bottom:NONE;
}
#featuredDeals img
{
    width: auto;
    margin: 0 auto;
}
.dropDownSpecsMenu
{
    max-width: 100%;
    height: auto;
    overflow-y: inherit;
}
.dropdownItems ul li {
    display: inline-block;
    width: 9%;
}
#showDropdown {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
#showDropdown img {
    margin-left: 10px;
    width: 6%;
}
.capsLinks a
{
    text-transform: uppercase;
}
.sticky .navbar-default {
    padding: 8px 0 0;
}
.panel-heading  a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
 }
 .panel-heading.active a:before {
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     transform: rotate(180deg);
 } 
 .panel-title > a .fa
 {
     display: none;
 }
 .sticky .logo img {
    width: 42%;
 }
 .dropdown-menu > li > a {
    padding: 3px 13px;
 }
 .vendorNameCenter img {
    width: 30%;
}